<ion-header class="doceria-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1" text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>Quem somos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="doceria-content doceria-page">
  <section class="page-block">
    <div class="page-icon">
      <ion-icon name="heart"></ion-icon>
    </div>
    <h1>Doce Lar Doceria</h1>
    <p class="lead">Nascemos do amor por doces e pelo desejo de adoçar o seu dia.</p>
    <p>
      Somos uma doceria artesanal que prepara cada produto com ingredientes selecionados e muito carinho.
      Nossa missão é oferecer doces de qualidade para momentos especiais: aniversários, festas, cafés da manhã e presentear quem você ama.
    </p>
    <p>
      Trabalhamos com encomendas e também temos opções prontas para retirada. Venha nos visitar ou entre em contato para saber mais!
    </p>
  </section>
</ion-content>
